DerivedDataCache/*
Saved/*
Intermediate/*
WindowsNoEditor/*
*.pdb
Packaging/*
.vs/*
*.exe
Binaries/Win64/Woodlands.exe
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Logs/Woodlands.log
